// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// GENERAL SETTINGS
body {
    font-family: sans-serif;
}

// CONTAINER
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}