// MAIN HEADER
.main-header {
    margin: 20px 15px 0;
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    img {
        height: 25px;
    }
    span {
        margin-left: 5px;
        font-size: 22px;
        color: $primaryCol;
    }
}

.header-menu {
    margin: 20px 0 13px 0;
    .header-item {
        &:first-child {
            padding-left: 0;
        }
        padding: 0 20px;
        a {
            color: $primaryCol;
            padding: 10px 0;
        }
        &.active,
        &:hover {
            a {
                color: $actvieCol;
                border-bottom: solid 3px $actvieCol;
            }
        }
    }
}